/*
*
* Copyright (c) 2021 scrthq
* SPDX-License-Identifier: MIT
*
*/

#define MACRO(NAME, LABEL, BINDINGS, BINDCELLS, HASH) \
        macro_##NAME { \
            compatible = "zmk,behavior-macro"; \
            label = LABEL; \
            HASH = <BINDCELLS>; \
            bindings = BINDINGS; \
        };

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM) \
        combo_##NAME { \
            timeout-ms = <TERM>; \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

/ {
    behaviors {
        MACRO(ty, "mac_ty", mac_ty, 0, #binding-cells)
        MACRO(gh, "mac_gh", mac_gh, 0, #binding-cells)
        MACRO(bn, "mac_bn", mac_bn, 0, #binding-cells)
        MACRO(tl, "mac_tl", mac_tl, 0, #binding-cells)
    };

    combos {
        compatible = "zmk,combos";
        COMBO(esc, &kp ESC, 0 1, QWERTY, 40)
        COMBO(ctgrv, &kp LC(GRAVE), 0 1 2, QWERTY, 40)
        COMBO(ty, &macro_ty, 5 6, ADJUST, 10)
        COMBO(gh, &macro_gh, 17 18, ADJUST, 10)
        COMBO(bn, &macro_bn, 29 30, ADJUST, 10)
        COMBO(tl, &macro_tl, 5 21, ADJUST, 10)
    };

    cond_layers {};
};
