/*
*
* Copyright (c) 2021 scrthq
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "defines.h"

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
    quick_tap_ms = <10>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        macro_rtyu: macro_rtyu {
            compatible = "zmk,behavior-macro";
            label = "mac_rtyu";
            #binding-cells = <0>;
            bindings = mac_rtyu;
        };
        macro_gh: macro_gh {
            compatible = "zmk,behavior-macro";
            label = "mac_gh";
            #binding-cells = <0>;
            bindings = mac_gh;
        };
        macro_test_zeroes: macro_test_zeroes {
            compatible = "zmk,behavior-macro";
            label = "test_zeroes";
            #binding-cells = <0>;
            bindings = test_zeroes;
        };
        macro_tl: macro_tl {
            compatible = "zmk,behavior-macro";
            label = "mac_tl";
            #binding-cells = <0>;
            bindings = mac_tl;
        };
        lselmac: macro_language_select_mac {
            compatible = "zmk,behavior-macro";
            label = "LSELMAC";
            #binding-cells = <0>;
            bindings = <&kp LG(K)>, <&kp M>;
        };
        lselwin: macro_language_select_win {
            compatible = "zmk,behavior-macro";
            label = "LSELWIN";
            #binding-cells = <0>;
            bindings = <&kp LC(K)>, <&kp M>;
        };
        chonker: macro_chonker {
            compatible = "zmk,behavior-macro";
            label = "CHONKER";
            #binding-cells = <0>;
            bindings = chonk;
        };
        macpin: macro_mpin {
            compatible = "zmk,behavior-macro";
            label = "MPIN";
            #binding-cells = <0>;
            bindings = mpin;
        };
        lht: long_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LONG_HOLDTAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
            layers = <WNDOWS MACOSX>;
        };

        combo_ctgrv {
            timeout-ms = <50>;
            key-positions = <0 1 2>;
            bindings = <&kp LC(GRAVE)>;
            layers = <WNDOWS MACOSX>;
        };

        combo_capsword {
            timeout-ms = <50>;
            key-positions = <12 23>;
            bindings = <&caps_word>;
            layers = <WNDOWS MACOSX>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "WNDOWS";
            bindings = <
//+---------|---------|---------|---------|---------|---------+                   +---------|---------|---------|---------|---------|---------+
&kp TAB         &kp Q    &kp W     &kp E     &kp R     &kp T                          &kp Y    &kp U     &kp I     &kp O     &kp P    &kp BKSP

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
&lt WINKEY MINUS &kp A    &kp S &lt NUMPAD D &kp F     &kp G                         &kp H    &kp J     &kp K     &kp L   &kp SEMI   &lht Z_MEH SQT

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
&mt LSHIFT LPAR &kp Z    &kp X     &kp C     &kp V     &kp B                          &kp N    &kp M   &kp CMMA   &kp DOT  &kp FSLH   &mt RSHIFT RPAR

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
            &kp LCTL            &lt NUMROW SPC      &mt LALT SPC                  &mt LGUI ENTER   &lt ADJUST LEFT_ARROW   &mt LA(LCTL) RIGHT_ARROW

//         +---------|          |---------|         |---------|                   |---------|         |---------|         |---------|
            >;
        };

        macos_layer {
            label = "MACOSX";
            bindings = <
//+---------|---------|---------|---------|---------|---------+                   +---------|---------|---------|---------|---------|---------+
    &trans    &trans    &trans    &trans    &trans     &trans                        &trans    &trans    &trans    &trans   &trans     &trans

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
&lt MACKEY MINUS &trans &trans    &trans    &trans     &trans                        &trans    &trans    &trans    &trans   &trans     &trans

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
    &trans    &trans    &trans    &trans    &trans     &trans                        &trans    &trans    &trans    &trans   &trans     &trans

//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------+
                                  &kp LALT  &trans  &mt LCTL SPC                     &trans    &trans    &trans

//                              +---------|---------|---------|                   |---------|---------|---------+
            >;
        };


        winkey_layer {
            label = "WINKEY";
            bindings = <
//+---------|---------|---------|---------|---------|---------+                   +---------|---------|---------|---------|---------|---------+
 &trans &kp LC(W)  &kp LC(BKSP) &tog MACOSX &kp LC(R)  &kp LC(LS(T))         &kp LC(Y) &kp LS(LC(N7)) &kp LS(LC(N8)) &kp LC(MINUS) &kp LC(PLUS) &kp PRINTSCREEN
//+         |close tab|del 1 wrd|toggle OS|reload tab|reopen tb|                  |   undo  |ord list |bull list| zoom -  | zoom +  |prntscrn |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
    &trans  &kp LC(A) &kp LC(S) &kp LS(LC(I)) &kp LC(F) &kp LG(V)                    &kp LC(H) &trans  &trans  &kp LS(LC(L))  &kp LA(LS(A)) &trans
//+         |selct all|   save  |dev tools|  find   |clipboard|                   |find repl|         |         | hi-light|blok cmnt|         |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
&mt LSFT HOME &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V)  &kp LS(LC(V))                 &trans   &lselwin  &trans   &trans &kp LC(SLASH) &mt RSHFT END
//+  home   |  undo   |   cut   |   copy  |  paste  |paste pln|                   |         |lang slct|         |         | cmd + / |   end   |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------+
                    &kp LC(LEFT_BRACKET) &kp LC(RIGHT_BRACKET)  &trans       &trans    &kp LC(LEFT) &kp LC(RIGHT)
//+                             | dedent  |  indent |         |                   |         |left1word|rght1word|
//                              +---------|---------|---------|                   |---------|---------|---------+
            >;
        };

        mackey_layer {
            label = "MACKEY";
            bindings = <
//+---------|---------|---------|---------|---------|---------+                   +---------|---------|---------|---------|---------|---------+
&trans &kp LG(W) &kp LA(BKSP) &tog MACOSX &kp LG(LS(R)) &kp LG(LS(T))/**/&kp LS(LG(Z)) &kp LS(LG(N7)) &kp LS(LG(N8)) &kp LG(MINUS) &kp LG(PLUS) &kp LG(PRINTSCREEN)
//+         |close tab|del 1 wrd|toggle OS|reload tab|reopen tb|                  |   undo  |ord list |bull list| zoom -  | zoom +  |prntscrn |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
    &trans  &kp LG(A) &kp LG(S) &kp LG(LA(I)) &kp LG(F)  &kp LG(LA(V))              &kp LA(LG(F)) &trans &trans &kp LS(LG(L)) &kp LA(LS(A)) &trans
//+         |selct all|   save  |dev tools|  find   |clipboard|                   |find repl|         |         | hi-light|blok cmnt|         |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
&mt LSFT LG(LEFT) &kp LG(Z) &kp LG(X) &kp LG(C) &kp LG(V)  &kp LS(LG(V))          &trans    &lselmac   &trans    &trans &kp LG(SLASH) &mt RSFT LG(RIGHT)
//+  home   |  undo   |   cut   |   copy  |  paste  |paste pln|                   |         |lang slct|         |         | cmd + / |   end   |
//+---------|---------|---------|---------|---------|---------|                   |---------|---------|---------|---------|---------|---------|
                    &kp LG(LEFT_BRACKET) &kp LG(RIGHT_BRACKET)  &trans        &trans    &kp LA(LEFT) &kp LA(RIGHT)
//+                             | dedent  |  indent |         |                   |         |left1word|rght1word
//                              +---------|---------|---------|                   |---------|---------|---------+
            >;
        };

        gaming_layer {
            label = "GAMING";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I    &kp O   &kp P    &kp BKSP
                &kp LALT  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K    &kp L   &kp QUOT &kp ENTER
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp RSFT
                            &kp LCTL &mo NUMROW &kp SPC    &kp SPC &mo ADJUST &kp F13
            >;
        };

        numpad_layer {
            label = "NUMPAD";
            bindings = <
                &kp TAB     &none &none &none &none &none    &kp EQUAL    &kp N7   &kp N8   &kp N9   &kp MINUS &kp BSPC
                &kp KP_NLCK &none &none &none &none &none    &kp ASTERISK &kp N4   &kp N5   &kp N6   &kp PLUS  &none
                &trans      &none &none &none &none &none    &kp SLASH    &kp N1   &kp N2   &kp N3   &kp ENTER &trans
                        &mo CONFIG &mo NUMROW &kp LCTL    &kp SPC &kp N0 &kp DOT
            >;
        };

        numrow_layer {
            label = "NUMROW";
            bindings = <
                &kp ESC   &kp N1 &kp N2 &kp N3    &kp N4    &kp N5       &kp N6   &kp N7   &kp N8 &kp N9    &kp N0   &kp BSPC
                &kp GRAVE &none  &none  &kp PSCRN &kp MINUS &kp EQUAL    &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SEMI &none
                &trans    &none  &none  &kp BSLH  &kp LBKT  &kp RBKT     &none    &none    &kp CMMA &kp DOT &kp FSLH &trans
                                    &mo CONFIG &mo NUMROW &kp LALT    &kp LGUI &mo ADJUST &kp F13
            >;
        };

        adjust_layer {
            label = "ADJUST";
            bindings = <
                &kp ESC       &kp F1  &kp F2   &kp F3    &kp F4 &kp F5    &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &kp F12
                &kp GRAVE     &kp INS &kp HOME &kp PG_UP &none  &none     &kp LEFT &kp DOWN &kp UP &kp RIGHT &none   &none
                &trans        &kp DEL &kp END  &kp PG_DN &none  &none     &none    &none    &none  &none     &none   &trans
                                    &kp LGUI &mo NUMROW &kp LALT    &kp SPC &mo ADJUST &tog GAMING
            >;
        };

        config_layer {
            label = "CONFIG";
            bindings = <
                &bootloader &none     &none        &tog MACOSX  &reset       &none              &none   &none       &none     &none     &none    &kp DELETE
                &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &macpin &macro_rtyu &macro_gh &macro_tl &chonker &none
                &none       &none        &none        &none        &none        &none           &none   &none       &none     &none     &none    &none
                                    &mo CONFIG &mo NUMROW &kp LALT                                &kp SPC      &mo ADJUST     &kp F13
            >;
        };
    };
};
